<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <!--Connection string is the same-->
  <connectionStrings>
    <add name="connection_string" connectionString="Data Source=DESKTOP-48S6415\SQLEXPRESS;Initial Catalog=Chess4;Integrated Security=true"/>
  </connectionStrings>

  <!--SCENARIO 1-->
  <!--<appSettings>
    <add key="parent_table" value="ChessPlayer"/>
    <add key ="parent_table_pk" value="player_id"/>
    <add key="child_table" value="FideStandings"/>
    <add key ="child_table_fk" value="player_id"/>
    <add key="parent_query" value="SELECT * FROM ChessPlayer"/>
    <add key="child_query" value="SELECT * FROM FideStandings"/>
  </appSettings>-->

  <!--SCENARIO 2--> 
  
  <appSettings>
    <add key="parent_table" value="MatchFormat"/>
    <add key ="parent_table_pk" value="type_id"/>
    <add key="child_table" value="Match"/>
    <add key ="child_table_fk" value="match_type"/>
    <add key="parent_query" value="SELECT * FROM MatchFormat"/>
    <add key="child_query" value="SELECT * FROM Match"/>
  </appSettings> 
  
</configuration>